
	<h1>{{title}}</h1>
	<h2>Tech News Worth Scraping</h2>
	<a href="/scrape"><button type="submit" id="scrape">click to scrape</button></a>
	<h3>current news</h3>

	<div id="articles">
		{{# each contents}}
		<h3>{{this.title}}</h3>
		<h4>{{this.link}}</h4>
		<br>
		{{/each}}
	</div>
	<div id="notes"></div>

	


